In [13]:
import pandas as pd


df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
    (np.nan, 2.0, np.nan, np.nan),
    (2.0, 3.0, np.nan, 9.0),
    (np.nan, 4.0, -4.0, 16.0)],
    columns=list('abcd'))

In [14]:
df

     a    b    c     d
0  0.0  NaN -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [28]:
df.interpolate(method='linear',  inplace=True)

In [29]:
df

     a    b    c     d
0  0.0  NaN -1.0   1.0
1  1.0  2.0 -2.0   5.0
2  2.0  3.0 -3.0   9.0
3  2.0  4.0 -4.0  16.0

In [43]:
index = pd.date_range('1/1/2000', periods=9, freq='T')

series = pd.Series(np.linspace(1,9,9), index=index)

series

2000-01-01 00:00:00    1.0
2000-01-01 00:01:00    2.0
2000-01-01 00:02:00    3.0
2000-01-01 00:03:00    4.0
2000-01-01 00:04:00    5.0
2000-01-01 00:05:00    6.0
2000-01-01 00:06:00    7.0
2000-01-01 00:07:00    8.0
2000-01-01 00:08:00    9.0
Freq: T, dtype: float64

In [45]:
series.resample('10S').interpolate()

2000-01-01 00:00:00    1.000000
2000-01-01 00:00:10    1.166667
2000-01-01 00:00:20    1.333333
2000-01-01 00:00:30    1.500000
2000-01-01 00:00:40    1.666667
2000-01-01 00:00:50    1.833333
2000-01-01 00:01:00    2.000000
2000-01-01 00:01:10    2.166667
2000-01-01 00:01:20    2.333333
2000-01-01 00:01:30    2.500000
2000-01-01 00:01:40    2.666667
2000-01-01 00:01:50    2.833333
2000-01-01 00:02:00    3.000000
2000-01-01 00:02:10    3.166667
2000-01-01 00:02:20    3.333333
2000-01-01 00:02:30    3.500000
2000-01-01 00:02:40    3.666667
2000-01-01 00:02:50    3.833333
2000-01-01 00:03:00    4.000000
2000-01-01 00:03:10    4.166667
2000-01-01 00:03:20    4.333333
2000-01-01 00:03:30    4.500000
2000-01-01 00:03:40    4.666667
2000-01-01 00:03:50    4.833333
2000-01-01 00:04:00    5.000000
2000-01-01 00:04:10    5.166667
2000-01-01 00:04:20    5.333333
2000-01-01 00:04:30    5.500000
2000-01-01 00:04:40    5.666667
2000-01-01 00:04:50    5.833333
2000-01-01 00:05:00    6.000000
2000-01-01 00:05:10    6.166667
2000-01-01 00:05:20    6.333333
2000-01-01 00:05:30    6.500000
2000-01-01 00:05:40    6.666667
2000-01-01 00:05:50    6.833333
2000-01-01 00:06:00    7.000000
2000-01-01 00:06:10    7.166667
2000-01-01 00:06:20    7.333333
2000-01-01 00:06:30    7.500000
2000-01-01 00:06:40    7.666667
2000-01-01 00:06:50    7.833333
2000-01-01 00:07:00    8.000000
2000-01-01 00:07:10    8.166667
2000-01-01 00:07:20    8.333333
2000-01-01 00:07:30    8.500000
2000-01-01 00:07:40    8.666667
2000-01-01 00:07:50    8.833333
2000-01-01 00:08:00    9.000000
Freq: 10S, dtype: float64

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])